@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-4">
        <img class="img-fluid" src="https://www.xtrafondos.com/wallpapers/satoru-gojo-con-lentes-de-jujutsu-kaisen-6719.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" src="https://www.xtrafondos.com/wallpapers/satoru-gojo-con-lentes-de-jujutsu-kaisen-6719.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" src="https://www.xtrafondos.com/wallpapers/satoru-gojo-con-lentes-de-jujutsu-kaisen-6719.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" src="https://www.xtrafondos.com/wallpapers/satoru-gojo-con-lentes-de-jujutsu-kaisen-6719.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" src="https://images6.alphacoders.com/789/789466.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" src="https://images7.alphacoders.com/459/459039.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" src="https://images7.alphacoders.com/459/459039.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" src="https://images7.alphacoders.com/459/459039.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" src="https://images7.alphacoders.com/459/459039.jpg" />
    </div>
</div>
<hr class="my-3 bold" />

<h4> Ejemplo 1 imagen fluid</h4>
<div class="row gy-3">
    <div class="col-sm-3">
        <img class="img-fluid" src="https://www.xtrafondos.com/wallpapers/satoru-gojo-con-lentes-de-jujutsu-kaisen-6719.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://www.xtrafondos.com/wallpapers/satoru-gojo-con-lentes-de-jujutsu-kaisen-6719.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://www.xtrafondos.com/wallpapers/satoru-gojo-con-lentes-de-jujutsu-kaisen-6719.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://www.xtrafondos.com/wallpapers/satoru-gojo-con-lentes-de-jujutsu-kaisen-6719.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://images6.alphacoders.com/789/789466.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://images7.alphacoders.com/459/459039.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://images7.alphacoders.com/459/459039.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://images7.alphacoders.com/459/459039.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://images7.alphacoders.com/459/459039.jpg" />
    </div>
</div>
<hr class="my-3" />
<h4> Ejemplo 2 imagen Thumbnail</h4>
<img class="img-thumbnail rounded-circle" src="https://gogocatrina.com/wp-content/uploads/2021/10/proxima-pelicula-animada-de-DC-batwoman-hunted-660x400@2x.jpg" />

<hr class="my-3" />
<h4> Ejemplo 3 Colores</h4>
<div class="p-3 mb-2 bg-primary text-white">bg-primary</div>
<div class="p-3 mb-2 bg-primary bg-gradient text-white">bg-primary con gradientes</div>

<div class="p-3 mb-2 bg-secondary text-white">bg-secondary</div>
<div class="p-3 mb-2 bg-secondary bg-gradient text-white">bg-secondary con gradientes</div>

<div class="p-3 mb-2 bg-danger text-white">bg-danger</div>
<div class="p-3 mb-2 bg-danger bg-gradient text-white">bg-danger con gradientes</div>

<div class="p-3 mb-2 bg-success text-white">bg-success</div>
<div class="p-3 mb-2 bg-success bg-gradient text-white">bg-sucess con gradientes</div>

<div class="p-3 mb-2 bg-info text-white">bg-info</div>
<div class="p-3 mb-2 bg-info bg-gradient text-white">bg-indo con gradientes</div>

<div class="p-3 mb-2 bg-warning text-white">bg-warning</div>
<div class="p-3 mb-2 bg-warning bg-gradient text-white">bg-warning con gradientes</div>

<div class="p-3 mb-2 bg-light text-dark">bg-light</div>
<div class="p-3 mb-2 bg-light bg-gradient text-dark">bg-light con gradientes</div>

<div class="p-3 mb-2 bg-dark text-white">bg-dark</div>
<div class="p-3 mb-2 bg-dark bg-gradient text-white">bg-dark con gradientes</div>

<div class="p-3 mb-2 bg-white text-dark">bg-white</div>
<div class="p-3 mb-2 bg-white bg-gradient text-dark">bg-white con gradientes</div>

<hr class="my-3" />
<h4> Ejemplo 4 Button</h4>
<div><button class="btn btn-primary">Guardar</button></div>
<div><button class="btn btn-secondary">Next</button></div>
<div><button class="btn btn-danger">Cancelar</button></div>
<div><button class="btn btn-info">Info</button></div>
<div><button class="btn btn-warning">Cuidado</button></div>
<div><button class="btn btn-dark">Venesolano</button></div>
<div><button class="btn btn-outline-primary">Guardar</button></div>
<div><button class="btn btn-outline-info">Siguiente</button></div>

<!--
<h4>Ejemplo 1: Alineando la fila</h4>
<h4>Ejemplo 2: Offset</h4>
<div class="row mb-3">
    <div class="col">
        <div class="bg-light border">Columna1</div>
    </div>
    <div class="col offset-1">
        <div>Columna 2</div>
    </div>


    <div class="col offset-1">
        <div class="bg-light border">Columna 3</div>
    </div>
    <div class="col offset-1">
        <div>Columna 4</div>
    </div>

    <div class="col offset-1">
        <div class="bg-light border">Columna 5</div>
    </div>
    <div class="col offset-1">
        <div>Columna 6</div>
    </div>
</div>
<hr />
<h4>Ejemplo 4 Gutter Horizontal</h4>
<div class="row gx-sm-0 gx-md-3 gx-lg-5  mb-3">
    <div class="col">
        <div class="bg-light border">Columna1</div>
    </div>
    <div class="col">
        <div class="bg-info border">Columna 2</div>
    </div>
    <div class="col">
        <div class="bg-light border">Columna 3</div>
    </div>
    <div class="col">
        <div class="bg-info border">Columna 4</div>
    </div>

    <div class="col">
        <div class="bg-light border">Columna 5</div>
    </div>
    <div class="col">
        <div class="bg-info border">Columna 6</div>
    </div>
</div>
<h4>Ejemplo 5 Gutter Vertical</h4>
<div class="row gx-sm-0 gx-md-3 gx-lg-5  mb-3 gy-2">
    <div class="col-6">
        <div class="bg-light border">Columna1</div>
    </div>
    <div class="col-6">
        <div class="bg-info border">Columna 2</div>
    </div>
    <div class="col-6">
        <div class="bg-light border">Columna 3</div>
    </div>
    <div class="col-6">
        <div class="bg-info border">Columna 4</div>
    </div>
</div>
<!--<div class="row">
    <div class="col-3 ">Columna 1</div>
    <div class="col-4 offset-5">Columna 2</div>
</div>-->
<!--<div class="row align-items-center">
    <div class="col">Columna 1</div>
    <div class="col">Columna 2</div>
    <div class="col">Columna 3</div>
</div>-->
<!--<div class="text-center">
    <h1 class="display-4">Adonis Alexander A. Severino</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus perspiciatis modi cum qui illum, repellendus provident voluptatem, accusantium sit at quod tempora iste optio deleniti amet eligendi quia aut maiores.
    </p>
    <ul class="list-group">
        <li class="list-group-item">
            SQl
        </li>
        <li class="list-group-item">
            C#
        </li>
        <li class="list-group-item">
            Node.js
        </li>
        <li class="list-group-item">
            TS
        </li>
    </ul>
</div>
<div class="row">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 2
    </div>
    <div class="col">
        columna 3
    </div>
    <div class="col">
        columna 4
    </div>
    <div class="col">
        columna 5
    </div>
    <div class="col">
        columna 6
    </div>
    <div class="col">
        columna 7
    </div>
    <div class="col">
        columna 8
    </div>
    <div class="col">
        columna 9
    </div>
    <div class="col">
        columna 10
    </div>
    <div class="col">
        columna 11
    </div>
    <div class="col">
        columna 12
    </div>
</div>
<h2>Ejemplo Vertical</h2>
<div class="row">
    <div class="col-sm-4">
        Columna 1
    </div>
    <div class="col-sm-4">
        Columna 2
    </div>
    <div class="col-sm-4">
        Columna 3
    </div>
</div>-->
