@{
    ViewData["Title"] = "Home Page";
}

<h4>Ejemplo 1: Alineando la fila</h4>
<h4>Ejemplo 2: Offset</h4>
<div class="row mb-3">
    <div class="col">
        <div class="bg-light border">Columna1</div>
    </div>
    <div class="col offset-1">
        <div>Columna 2</div>
    </div>


    <div class="col offset-1">
        <div class="bg-light border">Columna 3</div>
    </div>
    <div class="col offset-1">
        <div>Columna 4</div>
    </div>

    <div class="col offset-1">
        <div class="bg-light border">Columna 5</div>
    </div>
    <div class="col offset-1">
        <div>Columna 6</div>
    </div>
</div>
<hr />
<h4>Ejemplo 4 Gutter Horizontal</h4>
<div class="row gx-sm-0 gx-md-3 gx-lg-5  mb-3">
    <div class="col">
        <div class="bg-light border">Columna1</div>
    </div>
    <div class="col">
        <div class="bg-info border">Columna 2</div>
    </div>
    <div class="col">
        <div class="bg-light border">Columna 3</div>
    </div>
    <div class="col">
        <div class="bg-info border">Columna 4</div>
    </div>

    <div class="col">
        <div class="bg-light border">Columna 5</div>
    </div>
    <div class="col">
        <div class="bg-info border">Columna 6</div>
    </div>
</div>
<h4>Ejemplo 5 Gutter Vertical</h4>
<div class="row gx-sm-0 gx-md-3 gx-lg-5  mb-3 gy-2">
    <div class="col-6">
        <div class="bg-light border">Columna1</div>
    </div>
    <div class="col-6">
        <div class="bg-info border">Columna 2</div>
    </div>
    <div class="col-6">
        <div class="bg-light border">Columna 3</div>
    </div>
    <div class="col-6">
        <div class="bg-info border">Columna 4</div>
    </div>
</div>
<!--<div class="row">
    <div class="col-3 ">Columna 1</div>
    <div class="col-4 offset-5">Columna 2</div>
</div>-->
<!--<div class="row align-items-center">
    <div class="col">Columna 1</div>
    <div class="col">Columna 2</div>
    <div class="col">Columna 3</div>
</div>-->
<!--<div class="text-center">
    <h1 class="display-4">Adonis Alexander A. Severino</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus perspiciatis modi cum qui illum, repellendus provident voluptatem, accusantium sit at quod tempora iste optio deleniti amet eligendi quia aut maiores.
    </p>
    <ul class="list-group">
        <li class="list-group-item">
            SQl
        </li>
        <li class="list-group-item">
            C#
        </li>
        <li class="list-group-item">
            Node.js
        </li>
        <li class="list-group-item">
            TS
        </li>
    </ul>
</div>
<div class="row">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 2
    </div>
    <div class="col">
        columna 3
    </div>
    <div class="col">
        columna 4
    </div>
    <div class="col">
        columna 5
    </div>
    <div class="col">
        columna 6
    </div>
    <div class="col">
        columna 7
    </div>
    <div class="col">
        columna 8
    </div>
    <div class="col">
        columna 9
    </div>
    <div class="col">
        columna 10
    </div>
    <div class="col">
        columna 11
    </div>
    <div class="col">
        columna 12
    </div>
</div>
<h2>Ejemplo Vertical</h2>
<div class="row">
    <div class="col-sm-4">
        Columna 1
    </div>
    <div class="col-sm-4">
        Columna 2
    </div>
    <div class="col-sm-4">
        Columna 3
    </div>
</div>-->
